.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    &__search {
        width: 500px;
    }
}

.card {
    &__element {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 760px;
        padding: 5px;
    }
    &__pagination {
        margin: 4px;
    }
}
